{
  "plugins": ["@typescript-eslint"], // Add
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended", // Add
    "prettier",
    "airbnb"
    // "airbnb/hooks"
  ],
  "rules": {
    // You can remove the prefer-const rule, as it is already added by @typescript-eslint/recommended

    // I suggest you add at least those two rules:
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/camelcase": "off",
    "camelcase": "off"
  }
}