{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ template "title" .}}</title>

</head>
<body>
    <h1>
        {{ template "title" . }}
        This is header
    </h1>
    <main>
        {{ template "main" . }}
    </main>
    <footer>
        <p>footer</p>
    </footer>

</body>
</html>
{{end}}