{{define "nav"}}
    <nav>
        <h4>navbar</h4>
        <a href="/">Home</a>
    </nav>
{{end}}

{{define "sidebar"}}
    <nav>
        <h4>sidebar</h4>
        <a href="/">Home</a>
    </nav>
{{end}}