{{define "base"}}
    <!doctype html>
    <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{ template "title" .}}</title>
    </head>
    <body>
    <header>
        <h1><a href='/'>{{ template "main" .}}</a></h1>
    </header>
    <main>
        <h2>todo list hello</h2>
    </main>
    {{block "footer" .}}
        <footer>default footer</footer>
    {{end}}
    </body>
    </html>
{{end}}