<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Todo List</title>
</head>
<body>
<header>
    <h1><a href='/'>Todo List</a></h1>
</header>
<main>
    <h2>todo list hello</h2>
</main>
<footer>Powered by <a href='https://golang.org/'>Go</a></footer>
</body>
</html>